* {
  /* border: 1px solid red; */
}

.App {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  padding: 1%;
  height: 98vh;
  text-align: center;
  
  /* border: 1px solid black; */
}

.banner {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 10%;
  margin: 1%;
  padding: 1%;

  border-radius: 10px;
  border-top: 5px double black;
  border-bottom: 5px double black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.carousel {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 80%;
  margin: 1%;
  padding: 1%;

  /* border: 1px solid blue; */
}

.profile.current {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin: 1%;

  border: 5px double black;
}

.profile.before, .profile.after {
  width: 10%;
  height: 10%;
  border-radius: 50%;

  border: 2.5px double black;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.age-bar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 20%;
  margin: 1%;
  padding: 1%;

  /* border: 1px solid blue; */
}

.age-1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.age-5 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.age-1, .age-2, .age-3, .age-4, .age-5 {
  width: 20%;
  height: 40%;

  border-top: 5px double black;
  border-bottom: 5px double black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector:hover {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: white;
}
